.card__container {
  width: 623.702px;
  height: 531.981px;
  flex-shrink: 0;
  border-radius: 19.423px;
  background: #fff;
  box-shadow: 0px 2.15814px 5.39535px 0px rgba(0, 0, 0, 0.15);
  padding: 6px;
  .card__wrapper {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 19.423px;
    background: #f0f7ff;
    padding-left: 11px;
    padding-top: 16px;
    position: relative;
    .card__title {
      color: #404040;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      height: 39px;
    }
    .card__paragraf {
      max-width: 371px;
      max-height: 150px;
      overflow-y: scroll;
      color: #404040;
      font-family: 'Roboto', sans-serif;
      font-size: 13.208px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.688%; /* 16.336px */
    }
    .card__title__ing {
      color: #969696;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 19.423px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 2rem;
    }
    .card__ingredient {
      margin-top: 25px;
      max-width: 350px;
      display: flex;
      justify-content: space-between;
      .card__content {
        display: flex;
        justify-content: start;
        gap: 6px;
        .bg__icon {
          background-image: url('../../assets/images/bg-icon-ing.svg');
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text__content {
          margin-top: 5px;
          h2 {
            height: 15.826px;
            flex-shrink: 0;
            color: #404040;
            font-family: 'Roboto', sans-serif;
            font-size: 10.551px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          p {
            width: 60px;
            height: 9px;
            flex-shrink: 0;
            color: #969696;
            font-family: Roboto;
            font-size: 8.124px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    .card__btn {
      display: flex;
      margin-top: 19px;
      justify-content: center;
      width: 400px;
      gap: 58px;
      button {
        width: 124.856px;
        height: 30px;
        color: #408eba;
        background-color: #f0f7ff;
        border: 1px solid #408eba;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-style: normal;
        border-radius: 4px;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }
      a {
        width: 124.856px;
        height: 30px;
        color: #408eba;
        background-color: #f0f7ff;
        border: 1px solid #408eba;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-style: normal;
        border-radius: 4px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .card__img {
      width: 400px;
      height: 400px;
      position: absolute;
      right: -35%;
      top: 59px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
